body{
font-family:Arial,Helvetica,sans-serif;
margin: 0px;
border: 0px;
padding: 0px;
width : 900px;
margin-left: auto;
margin-right: auto;
background: #bfb38d;
color: #26221d;
}
h1{
color:#8c2c0f;
}
#allMessages{
margin: 5px;
padding: 5px;
border: #8c2c0f solid 2px;
width: 578px;
min-height: 500px;
float: left;
}
#addMessage{
margin: 5px;
padding: 5px;
border: #8c2c0f solid 1px;
width: 233px;
float: right;
}
a:link{
color: #26221d;
}
a:visited{
color: #8c2c0f;
}
a:hover{
color: #bfb38d;
background: #26221d;
}
#check{
float:left;
}

